<template>
    <div id="app">
        <top-menu></top-menu>
        <vue-progress-bar></vue-progress-bar>

        <main class="content">
            <div class="container">
                <div class="row">
                    <side-menu></side-menu>

                    <div class="col-lg-9">
                        <router-view></router-view>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    import TopMenu from './common/top-menu.vue';
    import SideMenu from './common/side-menu.vue';

    export default {
        components: {
            TopMenu,
            SideMenu
        }
    }
</script>

