
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.content, .login-box {
  margin-top: 50px;
}
.container {
  max-width: 1250px;
}
@media (max-width: 992px) {
  .col-lg-3, .col-lg-9 {
    margin-bottom: 20px;
  }
}
