<template>
    <div class="page-wrapper">
        <span class="main-text">
            The link you have accessed cannot be found.
            Please return to the <a href="/transactions" class="home-link">transactions page</a> .
        </span>
    </div>
</template>