<template>
    <div class="col-lg-3">
        <div class="list-group">
            <router-link
                    active-class="active"
                    :to="{name: 'transactions'}"
                    class="list-group-item list-group-item-action" exact>
                Transactions
            </router-link>
            <router-link
                    active-class="active"
                    :to="{name: 'transactions.create'}"
                    class="list-group-item list-group-item-action">
                Create Transaction
            </router-link>
            <router-link
                    active-class="active"
                    :to="{name: 'customers.create'}"
                    class="list-group-item list-group-item-action">
                Create Costumer
            </router-link>
        </div>
    </div>
</template>
