<template>
    <div class="card">
        <div class="card-header">Create Transaction</div>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <small class="form-text text-success" v-if="responseData">Response: {{responseData}}</small>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Customer</label>
                        <model-select
                            :options="options"
                            v-model="costumer"
                            placeholder="Select Costumer"
                            @searchchange="onSearchCostumer"
                        >
                        </model-select>
                        <small class="form-text text-danger" v-if="form.errors.costumerId">{{form.errors.costumerId[0]}}</small>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="cnp">Amount</label>
                        <input
                            type="text"
                            class="form-control"
                            id="cnp"
                            v-currency="form.amount"
                            v-model="form.amount"
                            placeholder="Amount"
                        >
                        <small class="form-text text-danger" v-if="form.errors.amount">{{form.errors.amount[0]}}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary float-right" @click="createTransaction">Create</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { ModelSelect  } from 'vue-search-select'

    export default {
        data: function () {
            return {
                costumer: {
                    value: '',
                    text: ''
                },
                form: {
                    costumerId: '',
                    amount: '',
                    errors: {}
                },
                responseData: null,
                options: []
            }
        },
        watch: {
            costumer: function (costumer) {
                this.form.costumerId = costumer.value;
            }
        },
        methods: {
            createTransaction() {
                this.responseData = null;
                this.form.errors = {};
                this.form.amount = this.form.amount.replace(/[^\d.-]/g, '');
                this.$Progress.start();
                axios.post('/transactions/store', this.form)
                .then(response => {
                    this.responseData = response.data;
                }).catch(error => {
                    this.form.errors = error.response.data.errors;
                }).then(() => {
                    this.$Progress.finish();
                });
            },
            onSearchCostumer(searchText) {
                if(searchText) {
                    this.$Progress.start();
                    axios.get('/customers/data', {
                        params: {
                            keywords: searchText
                        }
                    }).then(response => {
                        this.options = [];
                        response.data.costumers.forEach((e) => {
                            this.options.push({
                                value: e.id,
                                text: e.name
                            });
                        });
                    }).catch(error => {
                        console.log(error.response);
                    }).then(() => {
                        this.$Progress.finish();
                    });
                }
            }
        },
        components: {
            ModelSelect
        }
    }
</script>