<template>
    <div class="card">
        <div class="card-header">
            Transactions
            <div class="float-right">
                <input type="text" class="form-control" v-model="keywords" placeholder="Search Transaction">
            </div>
        </div>

        <div class="card-body">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="transaction in transactions">
                        <th scope="row">{{transaction.id}}</th>
                        <td>{{transaction.costumer.name}}</td>
                        <td>{{transaction.amount}}</td>
                        <td>{{transaction.date}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group row">
                <label class="col-lg-1 col-form-label">From</label>
                <div class="col-lg-2">
                    <input type="number" class="form-control" v-model="fromRows" placeholder="From">
                </div>

                <label class="col-lg-1 col-form-label">To</label>
                <div class="col-lg-2">
                    <input type="number" class="form-control" v-model="toRows" placeholder="To">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                transactions: [],
                keywords: '',
                fromRows: 0,
                toRows: 0
            }
        },
        watch: {
            keywords: function() {
                this.fetch();
            },
            fromRows: function () {
                this.fetch();
            },
            toRows: function () {
                this.fetch();
            }
        },
        mounted() {
            this.fetch();
        },
        methods: {
            fetch() {
                this.$Progress.start();
                axios.get('/transactions/data', {
                  params: {
                      keywords: this.keywords,
                      fromRows: this.fromRows,
                      toRows: this.toRows
                  }
                }).then(response => {
                    this.transactions = response.data.transactions;
                }).catch(error => {
                    console.log(error.response);
                }).then(() => {
                    this.$Progress.finish();
                });
            }
        }
    }
</script>