<template>
    <div class="card">
        <div class="card-header">Create Customer</div>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <small class="form-text text-success" v-if="responseData">Response: {{responseData}}</small>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="customerName">Customer name</label>
                        <input type="text" class="form-control" id="customerName" v-model="form.name" placeholder="Customer name">
                        <small class="form-text text-danger" v-if="form.errors.name">{{form.errors.name[0]}}</small>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="cnp">CNP</label>
                        <input type="text" class="form-control" id="cnp" v-model="form.cnp" placeholder="CNP">
                        <small class="form-text text-danger" v-if="form.errors.cnp">{{form.errors.cnp[0]}}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary float-right" @click="createCustomer">Create</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                form: {
                    name: '',
                    cnp: '',
                    errors: {}
                },
                responseData: null
            }
        },
        methods: {
            createCustomer() {
                this.responseData = null;
                this.form.errors = {};
                this.$Progress.start();
                axios.post('/customers/store', this.form)
                .then(response => {
                    this.responseData = response.data;
                }).catch(error => {
                    this.form.errors = error.response.data.errors;
                }).then(() => {
                    this.$Progress.finish();
                });
            }
        }
    }
</script>